# Configuration file for the ApiGen documentation builder

source			: [Core, common.php]
destination		: docs/www

charset			: utf8
title			: AD-X Library
allowedHtml		: [b,i,a,ul,ol,li,p,br,var,samp,kbd,tt,h2,h3,h4]
baseUrl			: http://alaneor.github.io/AD-X/api

accessLevels	: [public]
autocomplete	: [classes, methods, constants, classconstants, functions]
php				: Yes
todo			: yes # Consider turning this off when publishing the docs
templateConfig	: docs/templates/bootstrap/config.neon

quiet			: No
